<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${check == true} ? 'Create' : 'Update'">
    </title>
    <th:block th:replace="layout/head :: head"/>

</head>
<body>
<div class="container">
    <header>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <th:block th:if="${check == true}">
                    <a class="navbar-brand" >Create customer</a>
                </th:block>
                <th:block th:if="${check == false}">
                    <a class="navbar-brand" >Update customer</a>
                </th:block>
                <div class="d-flex" style="gap: 10px;">
                    <a href="/banking/">
                        <button class="btn btn-outline-light" type="button">
                            <i class="fas fa-list-ul"></i>
                            Customers list
                        </button>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <div class="content">
        <form th:object="${customer}" method="post" th:action="${check == true} ? '' : '/banking/edit/__${customer.id}__'">
            <div class="row mb-3 mt-3">
                <div class="col-lg-6">
                    <label for="fullName" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="fullName" th:field="*{fullName}">
                </div>
                <div class="col-lg-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-6">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="tel" class="form-control" id="phone" th:field="*{phone}">
                </div>
                <div class="col-lg-6">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" th:field="*{address}">
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-lg-3">
                    <button type="submit" class="btn btn-outline-success">
                        <i class="fas fa-plus" th:if="${check == true}">
                            Create</i>
                        <i class="far fa-edit" th:if="${check == false}">
                            Update</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<th:block th:replace="layout/footer::footer"></th:block>


</body>
</html>