<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database setting -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/quanlysanpham?serverTimezone=UTC&amp;useUnicode=true&amp;characterEncoding=utf8</property>
        <property name="connection.username">root</property>
        <property name="connection.password">0988150807Dat</property>

        <!-- JDBC connection pool (consider using a connection pool library like HikariCP) -->
        <property name="connection.pool_size">4</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Cache Configuration (optional) -->
         <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Show all executed SQL to console -->
        <property name="show_sql">true</property>

        <!-- Entity mapping -->
        <mapping class="com.demo4.models.Product" />
        <mapping class="com.demo4.models.Category" />
    </session-factory>
</hibernate-configuration>
